<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png"> -->

    <title>myLink</title>

    <style>
    .navbar {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    </style>

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- FontAwesome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">


    <!-- Bootstrap core JS -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% block extra_head %}
    {% endblock extra_head %}
</head>

<body>

<div class="container">

  <div class="row">

    <nav class="navbar navbar-default">
      <div class="container-fluid">


        {% if current_user.is_authenticated() %}
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/feed">myLink</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/feed">Home</a></li>
            <!-- <li><a href="/profile">Profile</a></li> -->
            <li><a href="/users">Users</a></li>


          </ul>
          <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
              <a href="/profile" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{current_user.first_name}}<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/profile">My Profile</a></li>
                <li><a href="/friends">My Friends</a></li>
                <li><a href="/profile/edit">Edit profile</a></li>

                <li class="divider"></li>
                <li class="dropdown-header">Account actions</li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
        {% else %}

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">myLink</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            <li><a href="/signup">Signup</a></li>
            <!-- <li><a href="/profile">Profile</a></li> -->
            <li><a href="/login">Login</a></li>

          </ul>
        </div>

        {% endif %}
        <!--/.nav-collapse -->
      </div>
      <!--/.container-fluid -->
    </nav>
  </div>

  <div class="row">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category,message in messages %}
          {% if category and category != "message" %}
          <div class="alert alert-{{category}}">
          {% else %}
          <div class="alert alert-info">
          {% endif %}
              {{message}}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>

  <div class="row">
    {% block content %}
    {% endblock %}
  </div>
  <div class="row">
    {% block extra_body %}
    {% endblock extra_body %}
  </div>

</div>

</body>
</html>
