{% extends "base-userpage.html" %} {% block extra_head %}
<style>
  .timeline {
    position: relative;
    padding: 21px 0px 10px;
    margin-top: 4px;
    margin-bottom: 30px;
  }

  .timeline .line {
    position: absolute;
    width: 4px;
    display: block;
    background: currentColor;
    top: 0px;
    bottom: 0px;
    margin-left: 30px;
  }

  .timeline .separator {
    border-top: 1px solid currentColor;
    padding: 5px;
    padding-left: 40px;
    font-style: italic;
    font-size: .9em;
    margin-left: 30px;
  }

  .timeline .line::before {
    top: -4px;
  }

  .timeline .line::after {
    bottom: -4px;
  }

  .timeline .line::before,
  .timeline .line::after {
    content: '';
    position: absolute;
    left: -4px;
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    background: currentColor;
  }

  .timeline .panel {
    position: relative;
    margin: 10px 0px 21px 70px;
    clear: both;
  }

  .timeline .panel::before {
    position: absolute;
    display: block;
    top: 8px;
    left: -24px;
    content: '';
    width: 0px;
    height: 0px;
    border: inherit;
    border-width: 12px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  .timeline .panel .panel-heading.icon * {
    font-size: 20px;
    vertical-align: middle;
    line-height: 40px;
  }

  .timeline .panel .panel-heading.icon {
    position: absolute;
    left: -59px;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 50%;
    text-align: center;
    float: left;
  }

  .timeline .panel-outline {
    border-color: transparent;
    background: transparent;
    box-shadow: none;
  }

  .timeline .panel-outline .panel-body {
    padding: 10px 0px;
  }

  .timeline .panel-outline .panel-heading:not(.icon),
  .timeline .panel-outline .panel-footer {
    display: none;
  }
</style>

<script>
document.getElementById('form-post').onsubmit = function(e) {
    // reference to select list using this keyword and form elements collection
    // no callback function used this time
    var opts = getSelectedOptions( this.elements['demoSel[]'] );

    console.log(opts)
    alert( 'The number of options selected is: ' + opts.length ); //  number of selected options

    return false; // don't return online form
};

</script>
{% endblock %}


{% block extra_sidebar %}
{% endblock %}

{% block main_content %}

<!-- Page header -->
<div class="page-header">
  <h1>Have something to say?</h1>
  <form id="form-post" method="POST" action="/post" enctype="multipart/form-data">
    {{ form.csrf_token }}


    {{ form.content(type="content",id="inputContent", class="form-control", placeholder="Content") }}

    <select class="form-control" name="demoSel[]" id="demoSel" multiple>
        {% for circle in user.circles %}

        <option value="{{circle.circle.id}}">{{circle.circle.name}}</option>

        {% endfor %}
    </select>

    {{ form.image(id="uploadFile",class="form-control", placeholder="Image") }}

    <button class="btn btn-lg btn-primary btn-block" type="submit">Post update</button>

  </form>

</div>
<!-- /Page header -->

<!-- Timeline -->
<div class="timeline">


  <!-- Line component -->
  <div class="line text-muted"></div>

  {% for post in posts %}

  <!-- Panel -->
  <article class="panel panel-primary">

    <!-- Icon -->
    <div class="panel-heading icon">
      <i class="glyphicon glyphicon-plus"></i>
    </div>
    <!-- /Icon -->

    <!-- Heading -->
    <div class="panel-heading">
      <h2 class="panel-title">

        {% if post.user.first_name %}
        {{post.user.first_name }}
          {% if post.user.last_name %}
            {{ post.user.last_name }}
          {% endif %}

        {% else %}
        {{ post.user.email }}
        {% endif %}

         posted an update

      </h2>
    </div>
    <!-- /Heading -->

    <!-- Body -->
    <div class="panel-body">
      {{post.content}}
    </div>
    <!-- /Body -->

    {% if post.image %}
    <!-- Footer -->
    <div class="panel-footer">
      <img class="img-responsive img-rounded" src="/post/{{post.id}}/image.jpg" />
    </div>
    <!-- /Footer -->
    {% endif %}

  </article>
  <!-- /Panel -->

  {% endfor %}

</div>
<!-- /Timeline -->
{% endblock %}
