{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="jumbotron">
    <h1>Welcome to myLink</h1>
    <p class="lead">An innovative social network for innovative people.</p>
    <p><a class="btn btn-lg btn-success" href="/signup" role="button">Create an account now!</a></p>
  </div>

  <div class="row">
    <div class="col-lg-2">
    </div>

    <div class="col-lg-4">
      <h2>Features</h2>
      <ul>
        <li>Create, update, and auth and account</li>
        <li>Send friend requests!</li>
        <li>Reject friends!</li>
      </ul>
    </div>


    <div class="col-lg-4">
      <h2>Testaminials</h2>
      <p>"myLink is the greatest part of my day[...]stalking[...]people[...]is amazing" - John Doe</p>
      <p>"I wasted my life on this site! I love it" - Jennifer Lasybutt</p>
    </div>

    <div class="col-lg-2">
    </div>
  </div>
</div>
<!-- /container -->
{% endblock %}
