{% extends "base.html" %}

{% block extra_head %}
<style>
body {
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
{% endblock %}
{% block content %}

<!-- <div class="container">
    <form method="POST" action="/login">
        {{ form.csrf_token }}
        {{ form.email.label }} {{ form.email(size=20) }}
        {{ form.password.label }} {{ form.password(size=20) }}
        <input type="submit" value="Login">
    </form>
</div> -->


<div class="container">

      <form class="form-signin" method="POST" action="/login">
        {{ form.csrf_token }}

        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>

        {{ form.email(type="email",id="inputEmail",class="form-control", placeholder="Email Address") }}

        <label for="inputPassword" class="sr-only">Password</label>

        {{ form.password(type="password",id="inputPassword", class="form-control", placeholder="Password") }}

        <!-- <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div> -->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p>If you need an account <a href="/signup">signup here</a>

      </form>

</div> <!-- /container -->
{% endblock %}
