{% extends "base-userpage.html" %}
{% block main_content %}

<h3>Personal info</h3>


<div class="panel panel-default">
  <div class="panel-heading">First name</div>
  <div class="panel-body">
    {{user.first_name}}
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">Last name</div>
  <div class="panel-body">
    {{user.last_name}}
  </div>
</div>

{% if user.id == current_user.id %}
<div class="panel panel-default">
  <div class="panel-heading">Email</div>
  <div class="panel-body">
    {{user.email}}
  </div>
</div>

<div class="col-lg-8">
  <a class="btn btn-large btn-primary" href="/profile/edit">Edit Profile</a>
</div>

{% endif %}
{% endblock %}


{% block extra_sidebar %}
{# Include the friend request buttons #}
{% endblock %}
