{% extends "base.html" %} {% block content %}
<div class="container">
  <h1>Edit Profile</h1>
  <hr>
  <div class="row">
    <!-- left column -->
    <div class="col-md-3">
      <div class="text-center">
        <img src="/user/{{current_user.id}}/profile.jpg" class="avatar img-circle img-responsive" alt="avatar">
        <h1 class="col-lg-3">{{current_user.first_name}}</h1>
        <h2 class="col-lg-3">{{current_user.last_name}}</h2>
      </div>
    </div>

    <!-- edit form column -->
    <div class="col-md-9 personal-info">


      <h3>Personal info</h3>


      <div class="panel panel-default">
        <div class="panel-heading">First name</div>
        <div class="panel-body">
          {{current_user.first_name}}
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">Last name</div>
        <div class="panel-body">
          {{current_user.last_name}}
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Email</div>
        <div class="panel-body">
          {{current_user.email}}
        </div>
      </div>

      <div class="col-lg-8">
        <a class="btn btn-large btn-primary" href="/profile/edit">Edit Profile</a>
      </div>

    </div>
  </div>
</div>
<hr>
{% endblock %}
